.shareButtonRoot {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  background: #2D6DF6;
  padding: 5px 12px;
}

.shareButtonRoot:hover {
  background: #0033A0;
}

.shareButtonRoot span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.shareButtonRoot i,
.shareButtonRoot:hover i {
  color: #ffffff !important;
}

.historyButtonRoot {
  width: 180px;
  border: 1px solid #2D6DF6;
  background: #ffffff;
  color: #2D6DF6;
}

.historyButtonRoot:hover {
  border: 1px solid #0033A0;
  background: #f8f8f8;
  color: #0033A0;
}

.historyButtonRoot:active {
  border: 1px solid #0033A0;
  background: #E5E9EA;
}

@media (max-width: 480px) {
  .shareButtonRoot {
    width: auto;
    padding: 5px 8px;
  }

  .historyButtonRoot {
    width: auto;
    padding: 0 8px;
  }
}
